<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cf.ericrocha.philanthropicmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".settings" android:screenOrientation="portrait" android:theme="@style/FinancialTheme" />
        <activity android:name=".philanthropies" android:screenOrientation="portrait" android:theme="@style/FinancialTheme" />
        <activity android:name=".works"  android:screenOrientation="portrait" android:theme="@style/FinancialTheme"/>
        <activity android:name=".Calendar" android:screenOrientation="portrait" android:theme="@style/FinancialTheme" />
        <activity android:name=".financial" android:screenOrientation="portrait" android:theme="@style/FinancialTheme" />
        <activity android:name=".Main" android:screenOrientation="portrait" />
        <activity android:name=".Login" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>